.container-fluid{
    width: 100vw;
    height: 100vh;
}
#nav-menu {
    background-color: #9E90A2;
    height: 100vh;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #29BF12;
    text-decoration: underline;
}
ul {
    list-style-type: none;
}