<div id="nav-menu" class="col col-md-2">
<h5 id="app-brand"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAAA2ElEQVRoge2ZYQrCMAxGo3gFxfsfSQWPU/846EYWtUnTz/I9KIN1JH1kSwsTIYRYHJR7JX0VbazWfhy1imhOxpxWLQTUN2aailAEDYqgQRE0phGxNsRP9DzK/LwZsyICdoSZpiIUQYNdCw12LTQogga7FhrsWmhQBI1pRDwfezSudv6vFXl881CRMf9IrLxnEbm9558icvUG7Mle3iYJK2BvtLzNEnsBM9jmdUloAbOo87oltgEzWfKGSNQBs1ny3qvrJSJgNqUarkpoAUeMEInRImEShJA1L/IafUw1IPsYAAAAAElFTkSuQmCC"><strong>ONLINE NOTE APP</strong></h5><br>
    <button type="button" class="btn btn-success">CREATE</button>
    <br>
    <br>
    <ul class="menu-options">
        <li><a href="#">Notes List</a></li><br>
        <li><a href="#">Archive</a></li><br>
        <li><a href="#">Trash</a></li><br>
    </ul>
</div>