<form>
    <br>
    <fieldset>
        <legend>New Note</legend>
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" class="form-control" #titleInput><br>
        <label for="date">Date:</label><br>
        <input type="date" id="date" name="date" class="form-control" #dateInput><br>
        <label for="note">Note:</label><br>
        <textarea name="note" rows="10" cols="57"></textarea>
    </fieldset>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-warning" type="submit">Save</button>
            <button class="btn btn-secondary" type="button" style="margin:5px">Clear</button>
        </div>
    </div>
</form>